*~
.fuse_hidden*
*.directory
.Trash-*
.nfs*
.env
*.venv_mezzanine
*.pyc
*.pyo
__pycache__/
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid
database.db
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
