files:
"/opt/elasticbeanstalk/hooks/appdeploy/01_install_flask_youtube.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            cd /opt/python/current/app
            . /opt/python/current/env
            source /opt/python/run/venv/bin/activate
            sh install_flask_youtube.sh





"/opt/elasticbeanstalk/hooks/appdeploy/post/02_migrate_database.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
          #!/usr/bin/env bash
